/* RESET */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /RESET */
/* WHOLE PAGE */
body{
  font-family: 'Montserrat', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
.uppercase{
  text-transform: uppercase;
}
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
.small_button{
  padding: 6px;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}
.empty_button{
  padding: 6px 20px;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}
.big_button{
  padding: 15px;
  background-color: #ff7a59;
  border-radius: 5px;
}
/* /WHOLE PAGE */
/* HEADER */
    /* TOP LINE */
.top_header{
  background-color: #f4f9fd;
  border-bottom: 1px solid #33475b;
}
.top_header li{
  list-style: none;
  display: inline-block;
  margin-top:30px;
  margin-bottom: 30px;
}
.top_header a{
  color: #33475b;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.top_header li:not(li:last-child){
  margin-right: 15px;
}
.top_header_left li:first-child{
  padding-right: 20px;
  border-right: 1px solid #33475b;
}
.top_header .small_button{
  color: #ffffff;
}
.top_header .empty_button{
  color: #ff7a59;
}
.top_header_left i:first-of-type{
  margin-right: 10px;
}
.top_header_left i:last-of-type{
  margin-left: 10px;
}
.top_header_right i{
  color: #69c8d8;
}
.top_header_left{
  float: left;
}
.top_header_right{
  float: right
}
    /* /TOP LINE */
    /* MAIN LINE */
.main_header{
  margin: 15px 0;
}
.main_header_nav li{
list-style: none;
display: inline-block;
margin-top:20px;
margin-bottom: 20px;
}
.main_header_nav a{
color: #33475b;
text-decoration: none;
font-size: 20px;
font-weight: 300;
}
.main_header .logo{
  float: left;
}
.main_header nav{
  float: right;
}
.main_header .logo > img{
  width: 120%;
  margin-top: 15%;
}
.main_header_nav i{
  margin-left: 10px;
}
.main_header li:not(li:last-child){
  margin-right: 15px;
}
    /* /MAIN LINE */
    /* BANNER */
.banner{
  height: 700px;
  background-color: #fff4ec;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}
.banner_lyric{
  padding-top: 2%;
}
.banner_lyric *{
  max-width: 35%;
  margin: 35px 0;
}
.banner_lyric h1{
  font-size: 40px;
  font-weight: 700;
}
.banner_lyric h1,
.banner_lyric p{
  color: #33475b;
}
.banner_lyric p{
  line-height: 25px;
}
.banner_lyric a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}
.banner_lyric small{
  display: block;
}
.spacer{
  position: absolute;
  height: 84px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  bottom: 0;
}
    /* /BANNER */
/* /HEADER */
/* SECTION_1 */
    /* SECTION INTRO */
.section_1{
  background-color: #f4f9fd;
}
.intro{
  width: 55%;
  margin: auto;
  padding-top: 30px;
}
.intro *{
  text-align: center;
}
.photo_intro img{
  width: 30%
}
.intro h3{
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}
.intro h3,
.intro p{
  color: #33475b;
}
.intro p{
  line-height: 25px;
}
    /* /SECTION INTRO */
    /* SECTION CONTENT */
.box{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -1px -1px 11px rgba(0, 0, 0, 0.1);
}
.top_box{
  width: 100%;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 5%;
}
.center_box{
  margin-left: 5%;
  margin-right: 5%;
}
.col{
  width: 30%;
  height: 400px;
  float: left;
  margin-bottom: 30px;
}
    /* /SECTION CONTENT */

/* /SECTION_1 */
